<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labdatahub.business.mapper.LabdatahubProtocolMapper">
    
    <resultMap type="LabdatahubProtocol" id="LabdatahubProtocolResult">
        <result property="id"    column="id"    />
        <result property="protocolName"    column="protocol_name"    />
        <result property="localUrl"    column="local_url"    />
        <result property="mainClassPath"    column="main_class_path"    />
        <result property="originName"    column="origin_name"    />
        <result property="type"    column="type"    />
        <result property="newName"    column="new_name"    />
    </resultMap>

    <sql id="selectLabdatahubProtocolVo">
        select id, protocol_name, local_url, main_class_path, origin_name, type, new_name, remark, create_time, update_time, create_by, update_by, status from labdatahub_protocol
    </sql>

    <select id="selectLabdatahubProtocolList" parameterType="LabdatahubProtocol" resultMap="LabdatahubProtocolResult">
        <include refid="selectLabdatahubProtocolVo"/>
        <where>  
            <if test="protocolName != null  and protocolName != ''"> and protocol_name like concat('%', #{protocolName}, '%')</if>
            <if test="localUrl != null  and localUrl != ''"> and local_url = #{localUrl}</if>
            <if test="mainClassPath != null  and mainClassPath != ''"> and main_class_path = #{mainClassPath}</if>
            <if test="originName != null  and originName != ''"> and origin_name like concat('%', #{originName}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="newName != null  and newName != ''"> and new_name like concat('%', #{newName}, '%')</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectLabdatahubProtocolById" parameterType="String" resultMap="LabdatahubProtocolResult">
        <include refid="selectLabdatahubProtocolVo"/>
        where id = #{id}
    </select>

    <insert id="insertLabdatahubProtocol" parameterType="LabdatahubProtocol">
        insert into labdatahub_protocol
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="protocolName != null">protocol_name,</if>
            <if test="localUrl != null">local_url,</if>
            <if test="mainClassPath != null">main_class_path,</if>
            <if test="originName != null">origin_name,</if>
            <if test="type != null">type,</if>
            <if test="newName != null">new_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="protocolName != null">#{protocolName},</if>
            <if test="localUrl != null">#{localUrl},</if>
            <if test="mainClassPath != null">#{mainClassPath},</if>
            <if test="originName != null">#{originName},</if>
            <if test="type != null">#{type},</if>
            <if test="newName != null">#{newName},</if>
         </trim>
    </insert>

    <update id="updateLabdatahubProtocol" parameterType="LabdatahubProtocol">
        update labdatahub_protocol
        <trim prefix="SET" suffixOverrides=",">
            <if test="protocolName != null">protocol_name = #{protocolName},</if>
            <if test="localUrl != null">local_url = #{localUrl},</if>
            <if test="mainClassPath != null">main_class_path = #{mainClassPath},</if>
            <if test="originName != null">origin_name = #{originName},</if>
            <if test="type != null">type = #{type},</if>
            <if test="newName != null">new_name = #{newName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLabdatahubProtocolById" parameterType="String">
        delete from labdatahub_protocol where id = #{id}
    </delete>

    <delete id="deleteLabdatahubProtocolByIds" parameterType="String">
        delete from labdatahub_protocol where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>